body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

.termsContainer {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 11px;
}

.intro {
    margin-top: 20px;
    line-height: 1.8;
}

.intro p {
    color: #555;
    font-size: 16px;
}

.intro p::before {
    content: "💡";
    margin-right: 10px;
}

