@charset "UTF-8";

body {
    padding: 0;
    width: 100vw;
    height: 100vh;
    font-family: Verdana;
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    margin: 0;
    overflow: hidden;
    /*align-items: center;*/
}

.header {
    display: flex;
    padding:50px;
    height:100px;
    justify-content: space-between;
    padding: 20px;
    background: #fff;
}

.header .logo {
    font-size: 24px;
    font-weight: bold;
    margin-left:180px;
    margin-top:0;
}

.header nav a {
    margin-right:50px;
    text-decoration: none;
    color: #333;
}

.main {
    text-align: left;
    padding: 50px 20px;
    display: flex;
    justify-content: space-between;
//flex-direction: row;
    height: 700px;

}

#text{
    flex-direction: row;
    height: 350px;
    position: relative;
    justify-content: center;
    margin-left: 200px;
    margin-top: 60px;
}
.containe1{
    position: absolute;
}

.containe2{
    flex-direction: row;
    border:1px solid black;
}

#image-container {
    flex-direction: row;
    margin-top: 78px;
    margin-right: 250px;
    border: 1px solid black;
    width: 700px;
    height: 390px;
}


.main h1 {
    font-size: 55px;
    line-height: 1.5;

}

.main p {
    font-size: 18px;
    color: #666;
}

#button {
    cursor: pointer;
    background-color:black;
    padding: 20px 40px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    color:white;
}

.statistics {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    font-family: Verdana;
    background-color: white;
    font-size: 24px;
    font-weight: bold;
    color: #000;
    bottom: 0;
    height: 100px;


}

.statItem{
    margin-right:70px;

}