.planTable {
    display: flex; /* 플렉스 박스 사용 */
    flex-direction: row; /* 가로 정렬 */
    border: 1px solid #ddd; /* 전체 테두리 */
    padding: 10px; /* 내부 여백 */
    background-color: #fff; /* 배경색 */
}

.timeList {
    display: flex;
    flex-direction: column; /* 각 time 요소를 세로로 정렬 */
    border: 1px solid #ddd; /* timeList마다 테두리 */
    background-color: #f9f9f9; /* timeList의 배경색 */
}

.planList{
    display: flex;
    flex-direction: column; /* 각 time 요소를 세로로 정렬 */
    border: 1px solid #ddd; /* timeList마다 테두리 */
    background-color: #f9f9f9; /* timeList의 배경색 */
}

.time{
    display: flex;
    justify-content: center; /* 가로 가운데 정렬 */
    align-items: center; /* 세로 가운데 정렬 */
    width: 80px;
    height: 60px; /* 각 시간 박스의 높이 */
    border-bottom: 1px solid #ddd; /* 아래쪽 구분선 */
    text-align: center;
    font-size: 14px; /* 텍스트 크기 */
    color: #333; /* 텍스트 색상 */
}

.cell{
    display: flex;
    justify-content: center; /* 가로 가운데 정렬 */
    align-items: center; /* 세로 가운데 정렬 */
    width: 100px;
    height: 60px; /* 각 시간 박스의 높이 */
    border-bottom: 1px solid #ddd; /* 아래쪽 구분선 */
    text-align: center;
    font-size: 14px; /* 텍스트 크기 */
    color: #333; /* 텍스트 색상 */
}

.time:first-child{ height: 50px; }
.cell:first-child{ height: 50px; }

.time:last-child { border-bottom: none; /* 마지막 항목 구분선 제거 */ }
.cell:last-child { border-bottom: none; /* 마지막 항목 구분선 제거 */ }

